name = "new_MIPTAutocorr"
uuid = "724b712f-9c1d-4787-a683-a3dfa2863efe"
authors = ["Gal Shkolnik <gal.shkolnik@mail.huji.ac.il> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
